/* START: Button CSS */
.tj-primary-btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 15px;
  line-height: 1;
  font-weight: var(--tj-fw-bold);
  color: var(--tj-color-common-white);
  background-color: var(--tj-color-theme-dark);
  padding: 5.5px;
  border-radius: 50px;
  position: relative;
  z-index: 1;
}
.tj-primary-btn .btn_inner {
  position: relative;
  z-index: 1;
  padding: 15px 20px 15px 55px;
  width: 100%;
  text-align: center;
}
.tj-primary-btn .btn_inner::before {
  content: "";
  position: absolute;
  z-index: 0;
  top: 0;
  inset-inline-start: 0;
  width: 45px;
  height: 100%;
  background-color: var(--tj-color-theme-primary);
  border-radius: 50px;
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}
.tj-primary-btn .btn_inner .btn_icon {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  inset-inline-start: 0;
  top: 0;
  min-width: 45px;
  height: 100%;
  z-index: 2;
  font-size: 1.6em;
  line-height: 1;
  color: var(--tj-color-common-white);
}
.tj-primary-btn .btn_inner .btn_icon > span {
  overflow: hidden;
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}
.tj-primary-btn .btn_inner .btn_icon > span i:first-child, .tj-primary-btn .btn_inner .btn_icon > span i:last-child {
  -webkit-transition: -webkit-transform 0.4s ease-in-out 0s;
  transition: -webkit-transform 0.4s ease-in-out 0s;
  transition: transform 0.4s ease-in-out 0s;
  transition: transform 0.4s ease-in-out 0s, -webkit-transform 0.4s ease-in-out 0s;
}
.tj-primary-btn .btn_inner .btn_icon > span i:last-child {
  position: absolute;
  -webkit-transform: translateX(-150%);
      -ms-transform: translateX(-150%);
          transform: translateX(-150%);
}
.tj-primary-btn .btn_inner .btn_text {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  overflow: hidden;
  color: var(--tj-color-common-white);
  text-shadow: 0 23px 0 currentColor;
  white-space: nowrap;
}
.tj-primary-btn .btn_inner .btn_text > span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.tj-primary-btn.white-btn {
  background-color: var(--tj-color-common-white);
}
.tj-primary-btn.white-btn .btn_inner .btn_text {
  color: var(--tj-color-heading-primary);
}
.tj-primary-btn.white-btn:hover .btn_inner .btn_text {
  color: var(--tj-color-common-white);
}
.tj-primary-btn.header_btn {
  background-color: var(--tj-color-common-white);
  padding: 4.5px;
}
.tj-primary-btn.header_btn .btn_inner {
  padding: 12px 18px 12px 50px;
}
.tj-primary-btn.header_btn .btn_inner::before {
  width: 40px;
}
.tj-primary-btn.header_btn .btn_inner .btn_icon {
  min-width: 40px;
  font-size: 1.4em;
}
.tj-primary-btn.header_btn .btn_inner .btn_text {
  color: var(--tj-color-heading-primary);
}
.tj-primary-btn:hover .btn_inner::before {
  width: 100%;
}
.tj-primary-btn:hover .btn_inner .btn_icon i:first-child {
  -webkit-transform: translateX(150%);
      -ms-transform: translateX(150%);
          transform: translateX(150%);
}
.tj-primary-btn:hover .btn_inner .btn_icon i:last-child {
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
}
.tj-primary-btn:hover .btn_inner .btn_text {
  color: var(--tj-color-common-white);
}
.tj-primary-btn:hover .btn_inner .btn_text > span {
  -webkit-transform: translateY(-24px);
      -ms-transform: translateY(-24px);
          transform: translateY(-24px);
}
@media (max-width: 575px) {
  .tj-primary-btn {
    padding: 4.5px;
  }
  .tj-primary-btn .btn_inner {
    padding: 12px 18px 12px 50px;
  }
  .tj-primary-btn .btn_inner::before {
    width: 40px;
  }
  .tj-primary-btn .btn_inner .btn_icon {
    min-width: 40px;
    font-size: 1.4em;
  }
}

.text-btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 6px;
  font-size: 15px;
  line-height: 1;
  font-weight: var(--tj-fw-bold);
  color: var(--tj-color-heading-primary);
  position: relative;
  z-index: 1;
}
.text-btn::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 1px;
  bottom: 0px;
  inset-inline-start: 0;
  -webkit-transform-origin: right;
      -ms-transform-origin: right;
          transform-origin: right;
  -webkit-transform: scaleX(0);
      -ms-transform: scaleX(0);
          transform: scaleX(0);
  background-color: var(--tj-color-heading-primary);
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}
.text-btn i {
  position: relative;
  font-size: 1.3em;
  top: 1px;
}
.text-btn:hover::before {
  -webkit-transform-origin: left;
      -ms-transform-origin: left;
          transform-origin: left;
  -webkit-transform: scaleX(1);
      -ms-transform: scaleX(1);
          transform: scaleX(1);
}

.icon-btn {
  margin-top: 0;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  font-size: 22px;
  line-height: 1;
  color: var(--tj-color-common-white);
  background-color: var(--tj-color-heading-primary);
  overflow: hidden;
}
.icon-btn i,
.icon-btn svg {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  line-height: 1;
  color: var(--tj-color-common-white);
}
.icon-btn i {
  -webkit-transform: rotate(-45deg) translateX(0);
      -ms-transform: rotate(-45deg) translateX(0);
          transform: rotate(-45deg) translateX(0);
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  text-shadow: -40px 0 0;
}
.icon-btn:hover i {
  -webkit-transform: rotate(-45deg) translateX(40px);
      -ms-transform: rotate(-45deg) translateX(40px);
          transform: rotate(-45deg) translateX(40px);
}

.icon-btn-2 {
  font-weight: var(--tj-fw-bold);
  color: var(--tj-color-theme-dark);
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  gap: 8px;
  overflow: hidden;
  position: relative;
}
.icon-btn-2 .btn-icon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 22px;
  color: var(--tj-color-common-white);
  background-color: var(--tj-color-theme-dark);
  -webkit-transition: background-color 0.3s ease-in-out 0s;
  transition: background-color 0.3s ease-in-out 0s;
}
.icon-btn-2 .btn-text {
  -webkit-transform: translateX(-20px);
      -ms-transform: translateX(-20px);
          transform: translateX(-20px);
  opacity: 0;
  visibility: hidden;
  white-space: nowrap;
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}
.icon-btn-2:hover .btn-icon {
  background-color: var(--tj-color-theme-primary);
}
.icon-btn-2:hover .btn-text {
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
  opacity: 1;
  visibility: visible;
}

.text-btn-2 {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 6px;
  font-size: 15px;
  line-height: 1;
  font-weight: var(--tj-fw-bold);
  color: var(--tj-color-heading-primary);
  position: relative;
  z-index: 1;
}
.text-btn-2 .icon {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background-color: var(--tj-color-theme-dark);
  color: var(--tj-color-common-white);
  font-size: 18px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.text-btn-2 .icon i,
.text-btn-2 .icon svg {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  line-height: 1;
}
.text-btn-2 > *:nth-child(1) {
  -webkit-transform: scale3d(0.5, 0.5, 1);
          transform: scale3d(0.5, 0.5, 1);
  -webkit-margin-end: -28px;
          margin-inline-end: -28px;
  background-color: var(--tj-color-theme-primary);
  opacity: 0;
}
.text-btn-2 > *:nth-child(3) {
  -webkit-transform: scale3d(1, 1, 1);
          transform: scale3d(1, 1, 1);
  -webkit-margin-start: 0;
          margin-inline-start: 0;
  opacity: 1;
}
.text-btn-2:hover > *:nth-child(1) {
  -webkit-transform: scale3d(1, 1, 1);
          transform: scale3d(1, 1, 1);
  -webkit-margin-end: 0;
          margin-inline-end: 0;
  opacity: 1;
}
.text-btn-2:hover > *:nth-child(3) {
  -webkit-transform: scale3d(0.5, 0.5, 1);
          transform: scale3d(0.5, 0.5, 1);
  -webkit-margin-start: -28px;
          margin-inline-start: -28px;
  opacity: 0;
}

/* !END: Button CSS */