@font-face {
  font-family: "Lato";
  src: url("../../../assets/fonts/Lato-Regular.ttf");
}
@font-face {
  font-family: "Lato-Bold";
  src: url("../../../assets/fonts/Lato-Bold.ttf");
}
@font-face {
  font-family: "Lato-Bold-Italic";
  src: url("../../../assets/fonts/lato/Lato-BlackItalic.ttf");
}
@font-face {
  font-family: "Lato-Italic";
  src: url("../../../assets/fonts/lato/Lato-Italic.ttf");
}

@font-face {
  font-family: "Jakarta-Regular";
  src: url("../../../assets/fonts/lato/PlusJakartaSans-Regular.ttf");
}

@font-face {
  font-family: "Jakarta-Bold";
  src: url("../../../assets/fonts/lato/PlusJakartaSans-Bold.ttf");
}

@font-face {
  font-family: "Jakarta-Medium";
  src: url("../../../assets/fonts/lato/PlusJakartaSans-Medium.ttf");
}

@font-face {
  font-family: "Jakarta-SemiBold";
  src: url("../../../assets/fonts/lato/PlusJakartaSans-SemiBold.ttf");
}

* {
  font-family: "Lato", sans-serif;
}

body {
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 8px;          
}

::-webkit-scrollbar-track {
  background: #f5f5f5;
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, #eac24b, #d4a821); 
  border-radius: 10px;
  border: 2px solid #f5f5f5; 
  box-shadow: 
    0 2px 4px rgba(0,0,0,0.15), 
    inset 0 0 2px rgba(255,255,255,0.5);
}

/* Hover effect */
::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(180deg, #f3d25a, #c79a19); /* brighter gold on hover */
}


.fancy-grid-section {
  position: relative;
  margin-bottom: 89px;
  margin-top: 120px;
  overflow: hidden;
  z-index: 0;
}

/* subtle grid pattern */
.fancy-grid-section::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: linear-gradient(#aaaaaaff 1px, transparent 1px),
    linear-gradient(to right, #aaaaaaff 1px, transparent 1px);
  background-size: 20px 20px;
  opacity: 0.25;
  /* makes it softer */
  mask-image: radial-gradient(
    circle at center,
    rgba(0, 0, 0, 1),
    transparent 70%
  );
  -webkit-mask-image: radial-gradient(
    circle at center,
    rgba(0, 0, 0, 1),
    transparent 70%
  );
  z-index: 0;
}

/* optional subtle animation (looks premium) */
@keyframes gridMove {
  from {
    background-position: 0 0, 0 0;
  }

  to {
    background-position: 40px 40px, 40px 40px;
  }
}

.fancy-grid-section::before {
  animation: gridMove 30s linear infinite;
}

.fancy-grid-section .content {
  position: relative;
  z-index: 1;
  /* keeps your text above the grid */
  opacity: 0.95;
}
